footer {
    background: #3B3A3A;
}

footer img {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    
}


.footer-block,
.footer-block a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
}

.cleaning-tel{
    color: #dc3545 !important;
    text-decoration: underline !important;
}

.cleaning {
    font-weight: 500;
    margin: 20px 0;
}

.cleaning a {
    font-weight: 500;
}

.cleaning span {
    font-weight: 600;
}

