.main-block {

    background: url(../img/back_main.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 35vh 0;
}

.main-block-title {
    position: relative;

}

.main-block-title h1 {
    color: #FFFFFF;
    font-size: 15px;
    max-width: 352px;
    opacity: 1;
    position: relative;
    z-index: 5;
    margin: auto;
    padding: 20px;
}

.main-block-title h1 span{
    font-weight: 900;
    font-size: 24px;
}

.main-bg-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

.about {
    overflow: hidden;
}

.about .logo-brand {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.about .logo-brand img {
    width: 100%;
}

.about .about-title {
    background-color: #51B5FF;
    border-radius: 20px;
    padding: 15px;
    max-width: 509px;
     margin: 0 auto;
}

.about .about-title p {
    color: #FFFFFF;
    font-size: 19px;
}

.btn-feedback {
    background: none;
    border: 4px solid #51B5FF;
    color: #000000;
    font-family: 'Verdana-Bold', sans-serif;
    font-size: 19px;
     margin: 0 auto;
       padding: 8px 20px;
     outline: none;
}

.btn-feedback:hover{
    background: #51B5FF;
    color: #FFFFFF;
}

.about-bk{
    height: 100%;
}

.accident {
    background: #51B5FF;
}

.accident img {
    max-width: 250px;
    width: 100%;
}

.accident-block{
    position: relative;
}

.accident-block h2{
    color:#FFFFFF; 
    font-family:'Verdana-Bold',sans-serif;
    font-size:20px;
     position: absolute;
     z-index: 3;
     max-width: 100px;
     top: 100px;
     left: 94px;
   text-align: center;
 opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
}

.accident-block-bg{
    position: relative;
    z-index: 1;
}

.accident-block-fg{
    position: absolute;
    z-index: 3;
    max-width: 101px !important;
    left: 77px;
    max-height: 115px !important;
    top: 66px;
    height: 100%;
}

.accident-block:hover.accident-block h2{
    opacity: 1;
    visibility: visible;
}

.accident-block:hover .accident-block-fg{
    opacity: 0;
}

.title-block {
    max-width: fit-content;
    margin: 0 auto;
}

.trust-blocks {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.trust-block{
     flex: 0 0 33.3%;
     margin-top: 25px;
     text-align: center;
     font-weight: 900;
     font-size: 1.1rem;
      font-family: 'Verdana-Bold',
      sans-serif;
}

.title-block h2 {
    color: #4FB4FE;
    font-family: 'Verdana-Bold', sans-serif;
    border-bottom: 1px solid #4FB4FE;
}

.applications {
    background: #4FB4FE;
}

.btn-form {
    background: #FFFFFF;
    color: #000000;
}

.title-applications {
    color: #FFFFFF;
    font-family: 'Verdana-Bold',
        sans-serif;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.form-block {
    max-width: 447px;
    width: 100%;
    margin: 0 auto;
}

.input {

    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    height: 50px;
    padding-left: 30px;
}
input::placeholder{
    color:#CCCCCC;
}

.form-block button{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.applications-block img{
      width: 100%;
      max-width: 200px;
}

.share-block-title{
    color:#FFFFFF; 
    font-size:19px;
    max-width: 161px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.share-block-title img{
    max-width: 30px;
    max-height: 36px;
    width: 100%;
}

.share-block-icons img{
    max-width: 52px;
    max-height: 51px;
    width: 100%;
}

.share-block-icons{
      justify-content: space-between;
      display: flex;
      max-width: 200px;
      margin: 0 auto;
}


@media (max-width:990px){
    .accident-block{
        margin:  0 auto;
    }
    .main-block-title h1{
        font-size: x-large;
    }
    .main-block-title h1 span{
        font-size: xx-large;
    }
}

@media(max-width:340px){
    .navbar {
        display: table-header-group;
    }
}